.product {
  width: 800px;
  height: 100%;
  margin-bottom: 25px;
  color: #282c34;

  .product_item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image_wrapper {
    display: flex;
    justify-content: center;

    .image {
      width: 120px;
      height: 150px;
    }
  }

  .button {
    margin-left: 20px;
    border-radius: 4px;
  }

}